p{
padding-right: 15%;
padding-left: 15%;
line-height: 150%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;

}
h1{font-family: 'Courier New', Courier, monospace;}
h3{
    padding-right: 15%;
    padding-left: 15%;}
        #migdalor.png{
            padding-right: 15%;
            padding-left: 15%;}